body {
  font-family: "Press Start 2P", cursive;
  background-image: url("https://i.pinimg.com/originals/28/13/81/281381a209e6b7b9eb041a9c754b5494.png");
}

#home {
  display: flex;
  flex-direction: column;
  padding: 0 50px 0 50px;
}

#heading {
  display: flex;
}

#title {
  font-size: 60px;
  color: rgb(198, 198, 198);
}

#cup {
  width: 150px;
  margin-left: 25px;
}

#scores {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#recent-s {
  width: 45%;
  padding: 0 5% 0 5%;
}

#r-s-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 42px;
  color: rgb(255, 255, 255);
}

.btn {
  height: 40px;
  width: 120px;
  font-size: 25px;
  font-family: cursive;
  font-weight: 900;
  background-color: rgb(96, 96, 96);
  border: 3px solid rgb(127, 127, 127);
  border-right: 5px solid rgb(43, 43, 43);
  border-bottom: 4px solid rgb(30, 30, 30);
  margin-top: 8px;
  color: rgb(230, 224, 224);
}

/* ------- Table ---- */
#s-list {
  width: 100%;
  border: 5px solid rgb(153, 150, 150);
  font-size: 28px;
  font-family: cursive;
  text-align: left;
  background-color: rgba(169, 169, 169, 0.373);
}

tr {
  height: 40px;
}

tr:nth-child(even) {
  background-color: rgba(114, 114, 114, 0.56);
  color: rgb(211, 208, 208);
}

th {
  padding-left: 15px;
}

/* -------- add new Score ---- */
#new-s {
  width: 45%;
  padding: 0 5% 0 5%;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 40% 0 0;
}

input {
  height: 40px;
  background-color: transparent;
  font-family: cursive;
  font-size: 25px;
  color: white;
}

#submit {
  margin-left: 60%;
}

#animal {
  margin-left: 60%;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid #cbcbcb;
  border-radius: 50%;
  border-top: 5px solid #414141;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

p {
  font-size: 25px;
  margin: 0;
}
